<!DOCTYPE html>
<html>
<head>
    <title>Display Table</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Number Plate</th>
                <th>Number Plate Found</th>
            </tr>
        </thead>
        <tbody>
            {% for plate in plates %}
                <tr>
                    <td>{{ plate.plates }}</td>
                    <td>{{ plate.plates }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
